In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [3]:
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
df1.head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [4]:
#Get the Metadata from the above files

df.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 327.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 17.9+ MB

In [5]:
list(df.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [6]:
list(df1.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [7]:
#Get the row names from the above files

df.index.values

array([   0,    1,    2, ..., 4653, 4654, 4655], dtype=int64)

In [8]:
df1.index.values

array([     0,      1,      2, ..., 117205, 117206, 117207], dtype=int64)

In [9]:
df.columns

Index(['Indicator', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [10]:
#Rename the columns name from any of the above file.

df.rename(columns={'Indicator':'indicator_id'})

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [11]:
df1.columns

Index(['STATION', 'STATION_NAME', 'DATE', 'PRCP', 'SNWD', 'SNOW', 'TMAX',
       'TMIN', 'WDFG', 'PGTM', 'WSFG', 'WT09', 'WT07', 'WT01', 'WT06', 'WT05',
       'WT04', 'WT16', 'WT08', 'WT18', 'WT03'],
      dtype='object')

In [12]:
df1.rename(columns={'STATION':'GONZALO'})

,GONZALO,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310107,10,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310108,13,-9999,-9999,11,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
7,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310109,10,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310110,-9999,-9999,-9999,0,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310112,-9999,-9999,-9999,22,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310113,13,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310114,15,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310115,13,-9999,-9999,-11,-72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310116,150,-9999,-9999,50,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
14,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310117,79,-9999,-9999,39,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310119,-9999,-9999,-9999,22,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
16,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310120,-9999,-9999,-9999,22,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
17,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310121,10,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310122,-9999,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
19,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310123,-9999,-9999,-9999,61,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
20,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310124,71,-9999,-9999,89,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
21,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310126,-9999,-9999,-9999,39,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310127,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310128,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
24,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310129,56,-9999,-9999,11,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
25,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310130,-9999,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
26,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310131,15,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
27,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310201,13,-9999,-9999,11,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
28,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310202,-9999,-9999,-9999,-11,-50,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
29,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310203,13,-9999,-9999,-11,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117178,GHCND:GMM00010385,SCHONEFELD GM,19921202,0,-9999,-9999,75,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117179,GHCND:GMM00010385,SCHONEFELD GM,19921203,48,-9999,-9999,120,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117180,GHCND:GMM00010385,SCHONEFELD GM,19921204,3,-9999,-9999,72,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117181,GHCND:GMM00010385,SCHONEFELD GM,19921205,48,-9999,-9999,77,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117182,GHCND:GMM00010385,SCHONEFELD GM,19921206,0,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117183,GHCND:GMM00010385,SCHONEFELD GM,19921207,0,-9999,-9999,30,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117184,GHCND:GMM00010385,SCHONEFELD GM,19921208,0,-9999,-9999,33,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117185,GHCND:GMM00010385,SCHONEFELD GM,19921209,0,-9999,-9999,-9999,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117186,GHCND:GMM00010385,SCHONEFELD GM,19921210,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117187,GHCND:GMM00010385,SCHONEFELD GM,19921211,0,-9999,-9999,36,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117188,GHCND:GMM00010385,SCHONEFELD GM,19921212,117,-9999,-9999,53,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117189,GHCND:GMM00010385,SCHONEFELD GM,19921213,28,-9999,-9999,50,14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117190,GHCND:GMM00010385,SCHONEFELD GM,19921214,66,-9999,-9999,-9999,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117191,GHCND:GMM00010385,SCHONEFELD GM,19921215,23,-9999,-9999,83,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117192,GHCND:GMM00010385,SCHONEFELD GM,19921216,0,-9999,-9999,42,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117193,GHCND:GMM00010385,SCHONEFELD GM,19921217,0,-9999,-9999,34,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117194,GHCND:GMM00010385,SCHONEFELD GM,19921218,0,-9999,-9999,24,-30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117195,GHCND:GMM00010385,SCHONEFELD GM,19921219,0,-9999,-9999,40,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117196,GHCND:GMM00010385,SCHONEFELD GM,19921220,66,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117197,GHCND:GMM00010385,SCHONEFELD GM,19921221,142,10,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117198,GHCND:GMM00010385,SCHONEFELD GM,19921222,0,-9999,-9999,13,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117199,GHCND:GMM00010385,SCHONEFELD GM,19921223,0,-9999,-9999,-20,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117200,GHCND:GMM00010385,SCHONEFELD GM,19921224,0,-9999,-9999,-26,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117201,GHCND:GMM00010385,SCHONEFELD GM,19921225,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117202,GHCND:GMM00010385,SCHONEFELD GM,19921226,0,-9999,-9999,-36,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117203,GHCND:GMM00010385,SCHONEFELD GM,19921227,0,-9999,-9999,10,-95,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117204,GHCND:GMM00010385,SCHONEFELD GM,19921228,0,-9999,-9999,-16,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117205,GHCND:GMM00010385,SCHONEFELD GM,19921229,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117206,GHCND:GMM00010385,SCHONEFELD GM,19921230,0,-9999,-9999,-9999,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117207,GHCND:GMM00010385,SCHONEFELD GM,19921231,3,-9999,-9999,-7,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [13]:
df1.columns

Index(['STATION', 'STATION_NAME', 'DATE', 'PRCP', 'SNWD', 'SNOW', 'TMAX',
       'TMIN', 'WDFG', 'PGTM', 'WSFG', 'WT09', 'WT07', 'WT01', 'WT06', 'WT05',
       'WT04', 'WT16', 'WT08', 'WT18', 'WT03'],
      dtype='object')

In [14]:
df1.rename(columns={'STATION':'GONZALO'}, inplace=True)

In [15]:
df1.columns

Index(['GONZALO', 'STATION_NAME', 'DATE', 'PRCP', 'SNWD', 'SNOW', 'TMAX',
       'TMIN', 'WDFG', 'PGTM', 'WSFG', 'WT09', 'WT07', 'WT01', 'WT06', 'WT05',
       'WT04', 'WT16', 'WT08', 'WT18', 'WT03'],
      dtype='object')

In [16]:
df.columns

Index(['Indicator', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [17]:
df.rename(columns={'Indicator':'indicator_id'}, inplace=True)

In [18]:
df.columns

Index(['indicator_id', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [19]:
#Change the name of multiple columns

df.rename(columns={'indicator_id':'indicator_gonza','Year':'year_gonza'})

,indicator_gonza,PUBLISH STATES,year_gonza,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [20]:
df1.rename(columns={'GONZALO':'Gonzalo_ID','DATE':'date_gonza'})

,Gonzalo_ID,STATION_NAME,date_gonza,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310107,10,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310108,13,-9999,-9999,11,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
7,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310109,10,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310110,-9999,-9999,-9999,0,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310112,-9999,-9999,-9999,22,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310113,13,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310114,15,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310115,13,-9999,-9999,-11,-72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310116,150,-9999,-9999,50,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
14,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310117,79,-9999,-9999,39,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310119,-9999,-9999,-9999,22,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
16,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310120,-9999,-9999,-9999,22,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
17,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310121,10,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310122,-9999,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
19,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310123,-9999,-9999,-9999,61,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
20,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310124,71,-9999,-9999,89,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
21,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310126,-9999,-9999,-9999,39,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310127,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310128,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
24,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310129,56,-9999,-9999,11,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
25,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310130,-9999,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
26,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310131,15,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
27,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310201,13,-9999,-9999,11,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
28,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310202,-9999,-9999,-9999,-11,-50,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
29,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310203,13,-9999,-9999,-11,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117178,GHCND:GMM00010385,SCHONEFELD GM,19921202,0,-9999,-9999,75,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117179,GHCND:GMM00010385,SCHONEFELD GM,19921203,48,-9999,-9999,120,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117180,GHCND:GMM00010385,SCHONEFELD GM,19921204,3,-9999,-9999,72,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117181,GHCND:GMM00010385,SCHONEFELD GM,19921205,48,-9999,-9999,77,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117182,GHCND:GMM00010385,SCHONEFELD GM,19921206,0,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117183,GHCND:GMM00010385,SCHONEFELD GM,19921207,0,-9999,-9999,30,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117184,GHCND:GMM00010385,SCHONEFELD GM,19921208,0,-9999,-9999,33,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117185,GHCND:GMM00010385,SCHONEFELD GM,19921209,0,-9999,-9999,-9999,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117186,GHCND:GMM00010385,SCHONEFELD GM,19921210,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117187,GHCND:GMM00010385,SCHONEFELD GM,19921211,0,-9999,-9999,36,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117188,GHCND:GMM00010385,SCHONEFELD GM,19921212,117,-9999,-9999,53,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117189,GHCND:GMM00010385,SCHONEFELD GM,19921213,28,-9999,-9999,50,14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117190,GHCND:GMM00010385,SCHONEFELD GM,19921214,66,-9999,-9999,-9999,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117191,GHCND:GMM00010385,SCHONEFELD GM,19921215,23,-9999,-9999,83,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117192,GHCND:GMM00010385,SCHONEFELD GM,19921216,0,-9999,-9999,42,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117193,GHCND:GMM00010385,SCHONEFELD GM,19921217,0,-9999,-9999,34,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117194,GHCND:GMM00010385,SCHONEFELD GM,19921218,0,-9999,-9999,24,-30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117195,GHCND:GMM00010385,SCHONEFELD GM,19921219,0,-9999,-9999,40,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117196,GHCND:GMM00010385,SCHONEFELD GM,19921220,66,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117197,GHCND:GMM00010385,SCHONEFELD GM,19921221,142,10,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117198,GHCND:GMM00010385,SCHONEFELD GM,19921222,0,-9999,-9999,13,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117199,GHCND:GMM00010385,SCHONEFELD GM,19921223,0,-9999,-9999,-20,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117200,GHCND:GMM00010385,SCHONEFELD GM,19921224,0,-9999,-9999,-26,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117201,GHCND:GMM00010385,SCHONEFELD GM,19921225,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117202,GHCND:GMM00010385,SCHONEFELD GM,19921226,0,-9999,-9999,-36,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117203,GHCND:GMM00010385,SCHONEFELD GM,19921227,0,-9999,-9999,10,-95,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117204,GHCND:GMM00010385,SCHONEFELD GM,19921228,0,-9999,-9999,-16,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117205,GHCND:GMM00010385,SCHONEFELD GM,19921229,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117206,GHCND:GMM00010385,SCHONEFELD GM,19921230,0,-9999,-9999,-9999,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117207,GHCND:GMM00010385,SCHONEFELD GM,19921231,3,-9999,-9999,-7,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [21]:
#Arrange values of a particular column in ascending order

df1.sort_values('DATE')

,GONZALO,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
22874,GHCND:GM000003319,BERLIN DAHLEM GM,19000101,6,-9999,-9999,28,-9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59209,GHCND:GM000003342,POTSDAM GM,19000101,4,60,-9999,28,-8,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22875,GHCND:GM000003319,BERLIN DAHLEM GM,19000102,2,-9999,-9999,29,5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59210,GHCND:GM000003342,POTSDAM GM,19000102,45,50,-9999,18,-7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59211,GHCND:GM000003342,POTSDAM GM,19000103,26,20,-9999,70,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22876,GHCND:GM000003319,BERLIN DAHLEM GM,19000103,43,-9999,-9999,69,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22877,GHCND:GM000003319,BERLIN DAHLEM GM,19000104,15,-9999,-9999,75,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59212,GHCND:GM000003342,POTSDAM GM,19000104,0,0,-9999,84,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22878,GHCND:GM000003319,BERLIN DAHLEM GM,19000105,0,-9999,-9999,50,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59213,GHCND:GM000003342,POTSDAM GM,19000105,2,0,-9999,46,-2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22879,GHCND:GM000003319,BERLIN DAHLEM GM,19000106,1,-9999,-9999,11,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59214,GHCND:GM000003342,POTSDAM GM,19000106,0,0,-9999,6,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22880,GHCND:GM000003319,BERLIN DAHLEM GM,19000107,0,-9999,-9999,6,-34,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59215,GHCND:GM000003342,POTSDAM GM,19000107,0,0,-9999,-7,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22881,GHCND:GM000003319,BERLIN DAHLEM GM,19000108,0,-9999,-9999,4,-36,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59216,GHCND:GM000003342,POTSDAM GM,19000108,0,0,-9999,-2,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59217,GHCND:GM000003342,POTSDAM GM,19000109,33,0,-9999,25,-12,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22882,GHCND:GM000003319,BERLIN DAHLEM GM,19000109,0,-9999,-9999,28,-2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59218,GHCND:GM000003342,POTSDAM GM,19000110,1,0,-9999,38,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22883,GHCND:GM000003319,BERLIN DAHLEM GM,19000110,14,-9999,-9999,28,9,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22884,GHCND:GM000003319,BERLIN DAHLEM GM,19000111,0,-9999,-9999,14,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59219,GHCND:GM000003342,POTSDAM GM,19000111,7,0,-9999,4,-31,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22885,GHCND:GM000003319,BERLIN DAHLEM GM,19000112,5,-9999,-9999,6,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59220,GHCND:GM000003342,POTSDAM GM,19000112,3,20,-9999,-2,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59221,GHCND:GM000003342,POTSDAM GM,19000113,0,0,-9999,-37,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22886,GHCND:GM000003319,BERLIN DAHLEM GM,19000113,0,-9999,-9999,-37,-90,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59222,GHCND:GM000003342,POTSDAM GM,19000114,2,10,-9999,-82,-140,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22887,GHCND:GM000003319,BERLIN DAHLEM GM,19000114,0,-9999,-9999,-90,-115,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59223,GHCND:GM000003342,POTSDAM GM,19000115,17,20,-9999,-84,-130,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22888,GHCND:GM000003319,BERLIN DAHLEM GM,19000115,3,-9999,-9999,-76,-117,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59201,GHCND:GM000003319,BERLIN DAHLEM GM,19991225,34,-9999,-9999,67,7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111464,GHCND:GME00121150,BERLIN TEGEL GM,19991225,28,0,-9999,73,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111465,GHCND:GME00121150,BERLIN TEGEL GM,19991226,83,0,-9999,50,2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95727,GHCND:GM000003342,POTSDAM GM,19991226,95,0,-9999,38,1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22867,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991226,74,0,-9999,48,1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59202,GHCND:GM000003319,BERLIN DAHLEM GM,19991226,84,-9999,-9999,42,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59203,GHCND:GM000003319,BERLIN DAHLEM GM,19991227,0,-9999,-9999,21,-14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111466,GHCND:GME00121150,BERLIN TEGEL GM,19991227,0,20,-9999,23,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95728,GHCND:GM000003342,POTSDAM GM,19991227,0,60,-9999,16,-8,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22868,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991227,0,20,-9999,27,-16,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59204,GHCND:GM000003319,BERLIN DAHLEM GM,19991228,0,-9999,-9999,20,-17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111467,GHCND:GME00121150,BERLIN TEGEL GM,19991228,0,10,-9999,22,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95729,GHCND:GM000003342,POTSDAM GM,19991228,1,50,-9999,13,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22869,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991228,0,0,-9999,29,-17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111468,GHCND:GME00121150,BERLIN TEGEL GM,19991229,2,0,-9999,25,2,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95730,GHCND:GM000003342,POTSDAM GM,19991229,0,40,-9999,19,-5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59205,GHCND:GM000003319,BERLIN DAHLEM GM,19991229,0,-9999,-9999,22,-7,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22870,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991229,4,0,-9999,27,-1,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95731,GHCND:GM000003342,POTSDAM GM,19991230,6,30,-9999,20,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59206,GHCND:GM000003319,BERLIN DAHLEM GM,19991230,16,-9999,-9999,26,-5,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111469,GHCND:GME00121150,BERLIN TEGEL GM,19991230,14,0,-9999,29,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22871,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991230,16,0,-9999,31,-4,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95732,GHCND:GM000003342,POTSDAM GM,19991231,0,30,-9999,24,-6,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111470,GHCND:GME00121150,BERLIN TEGEL GM,19991231,0,0,-9999,41,-25,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22872,GHCND:GME00111445,BERLIN TEMPELHOF GM,19991231,0,0,-9999,36,-40,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59207,GHCND:GM000003319,BERLIN DAHLEM GM,19991231,0,-9999,-9999,35,-21,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22873,GHCND:GME00111445,BERLIN TEMPELHOF GM,20000101,23,0,-9999,24,-36,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
95733,GHCND:GM000003342,POTSDAM GM,20000101,18,30,-9999,20,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
59208,GHCND:GM000003319,BERLIN DAHLEM GM,20000101,24,-9999,-9999,23,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
111471,GHCND:GME00121150,BERLIN TEGEL GM,20000101,20,0,-9999,24,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [22]:
df.sort_values('Year')

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [23]:
#Arrange multiple column values in ascending order

df.sort_values(['Country','Year'])

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
554,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
555,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,15,15.0,NaN,NaN,NaN
965,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
1395,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,14,14.0,NaN,NaN,NaN
1792,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,50,50.0,NaN,NaN,NaN
2959,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,13,13.0,NaN,NaN,NaN
146,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,55,55.0,NaN,NaN,NaN
147,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,16,16.0,NaN,NaN,NaN
967,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,14,14.0,NaN,NaN,NaN
1393,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,56,56.0,NaN,NaN,NaN
1396,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,15,15.0,NaN,NaN,NaN
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
2957,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,54,54.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
148,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,17,17.0,NaN,NaN,NaN
966,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,58,58.0,NaN,NaN,NaN
1394,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,61,61.0,NaN,NaN,NaN
1793,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,15,15.0,NaN,NaN,NaN
1794,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,16,16.0,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
2958,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,60,60.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
299,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Male,67,67.0,NaN,NaN,NaN
689,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,69,69.0,NaN,NaN,NaN
1522,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,16,16.0,NaN,NaN,NaN
1931,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Female,18,18.0,NaN,NaN,NaN
3113,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Female,71,71.0,NaN,NaN,NaN
3114,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Male,15,15.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Male,16,16.0,NaN,NaN,NaN
2796,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,49,49.0,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55.0,NaN,NaN,NaN
3102,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Both sexes,17,17.0,NaN,NaN,NaN
3545,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Female,50,50.0,NaN,NaN,NaN
4260,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Male,48,48.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
685,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Female,18,18.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
1925,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1926,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
1083,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,16,16.0,NaN,NaN,NaN
1513,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Female,16,16.0,NaN,NaN,NaN
2426,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,37,37.0,NaN,NaN,NaN
2797,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,36,36.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
3107,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Male,15,15.0,NaN,NaN,NaN
3886,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,37,37.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
295,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1514,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Female,19,19.0,NaN,NaN,NaN
1927,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN
3546,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,49,49.0,NaN,NaN,NaN
4261,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,48,48.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [24]:
#Make country as the first column of the dataframe

df.sort_values(['Country','Year'])

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
554,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
555,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,15,15.0,NaN,NaN,NaN
965,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
1395,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,14,14.0,NaN,NaN,NaN
1792,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,50,50.0,NaN,NaN,NaN
2959,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,13,13.0,NaN,NaN,NaN
146,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,55,55.0,NaN,NaN,NaN
147,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,16,16.0,NaN,NaN,NaN
967,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,14,14.0,NaN,NaN,NaN
1393,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,56,56.0,NaN,NaN,NaN
1396,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,15,15.0,NaN,NaN,NaN
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
2957,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,54,54.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
148,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,17,17.0,NaN,NaN,NaN
966,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,58,58.0,NaN,NaN,NaN
1394,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,61,61.0,NaN,NaN,NaN
1793,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,15,15.0,NaN,NaN,NaN
1794,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,16,16.0,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
2958,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,60,60.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
299,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Male,67,67.0,NaN,NaN,NaN
689,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,69,69.0,NaN,NaN,NaN
1522,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,16,16.0,NaN,NaN,NaN
1931,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Female,18,18.0,NaN,NaN,NaN
3113,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Female,71,71.0,NaN,NaN,NaN
3114,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Male,15,15.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Male,16,16.0,NaN,NaN,NaN
2796,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,49,49.0,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55.0,NaN,NaN,NaN
3102,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Both sexes,17,17.0,NaN,NaN,NaN
3545,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Female,50,50.0,NaN,NaN,NaN
4260,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Male,48,48.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
685,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Female,18,18.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
1925,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1926,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
1083,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,16,16.0,NaN,NaN,NaN
1513,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Female,16,16.0,NaN,NaN,NaN
2426,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,37,37.0,NaN,NaN,NaN
2797,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,36,36.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
3107,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Male,15,15.0,NaN,NaN,NaN
3886,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,37,37.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
295,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1514,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Female,19,19.0,NaN,NaN,NaN
1927,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN
3546,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,49,49.0,NaN,NaN,NaN
4261,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,48,48.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [25]:


df[['Country', 'indicator_id', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Sex', 'Display Value',
       'Numeric', 'Low', 'High', 'Comments']]

,Country,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
5,Antigua and Barbuda,Life expectancy at birth (years),Published,2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
12,Austria,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
23,Brunei Darussalam,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [26]:
df1[['GONZALO', 'DATE', 'STATION_NAME', 'PRCP', 'SNWD', 'SNOW', 'TMAX',
       'TMIN', 'WDFG', 'PGTM', 'WSFG', 'WT09', 'WT07', 'WT01', 'WT06', 'WT05',
       'WT04', 'WT16', 'WT08', 'WT18', 'WT03']]

,GONZALO,DATE,STATION_NAME,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,19310101,BERLIN TEMPELHOF GM,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,19310102,BERLIN TEMPELHOF GM,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,19310103,BERLIN TEMPELHOF GM,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,19310105,BERLIN TEMPELHOF GM,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,19310106,BERLIN TEMPELHOF GM,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,GHCND:GME00111445,19310107,BERLIN TEMPELHOF GM,10,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6,GHCND:GME00111445,19310108,BERLIN TEMPELHOF GM,13,-9999,-9999,11,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
7,GHCND:GME00111445,19310109,BERLIN TEMPELHOF GM,10,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:GME00111445,19310110,BERLIN TEMPELHOF GM,-9999,-9999,-9999,0,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,GHCND:GME00111445,19310112,BERLIN TEMPELHOF GM,-9999,-9999,-9999,22,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,GHCND:GME00111445,19310113,BERLIN TEMPELHOF GM,13,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:GME00111445,19310114,BERLIN TEMPELHOF GM,15,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:GME00111445,19310115,BERLIN TEMPELHOF GM,13,-9999,-9999,-11,-72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:GME00111445,19310116,BERLIN TEMPELHOF GM,150,-9999,-9999,50,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
14,GHCND:GME00111445,19310117,BERLIN TEMPELHOF GM,79,-9999,-9999,39,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15,GHCND:GME00111445,19310119,BERLIN TEMPELHOF GM,-9999,-9999,-9999,22,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
16,GHCND:GME00111445,19310120,BERLIN TEMPELHOF GM,-9999,-9999,-9999,22,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
17,GHCND:GME00111445,19310121,BERLIN TEMPELHOF GM,10,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,GHCND:GME00111445,19310122,BERLIN TEMPELHOF GM,-9999,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
19,GHCND:GME00111445,19310123,BERLIN TEMPELHOF GM,-9999,-9999,-9999,61,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
20,GHCND:GME00111445,19310124,BERLIN TEMPELHOF GM,71,-9999,-9999,89,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
21,GHCND:GME00111445,19310126,BERLIN TEMPELHOF GM,-9999,-9999,-9999,39,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22,GHCND:GME00111445,19310127,BERLIN TEMPELHOF GM,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,GHCND:GME00111445,19310128,BERLIN TEMPELHOF GM,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
24,GHCND:GME00111445,19310129,BERLIN TEMPELHOF GM,56,-9999,-9999,11,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
25,GHCND:GME00111445,19310130,BERLIN TEMPELHOF GM,-9999,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
26,GHCND:GME00111445,19310131,BERLIN TEMPELHOF GM,15,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
27,GHCND:GME00111445,19310201,BERLIN TEMPELHOF GM,13,-9999,-9999,11,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
28,GHCND:GME00111445,19310202,BERLIN TEMPELHOF GM,-9999,-9999,-9999,-11,-50,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
29,GHCND:GME00111445,19310203,BERLIN TEMPELHOF GM,13,-9999,-9999,-11,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117178,GHCND:GMM00010385,19921202,SCHONEFELD GM,0,-9999,-9999,75,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117179,GHCND:GMM00010385,19921203,SCHONEFELD GM,48,-9999,-9999,120,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117180,GHCND:GMM00010385,19921204,SCHONEFELD GM,3,-9999,-9999,72,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117181,GHCND:GMM00010385,19921205,SCHONEFELD GM,48,-9999,-9999,77,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117182,GHCND:GMM00010385,19921206,SCHONEFELD GM,0,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117183,GHCND:GMM00010385,19921207,SCHONEFELD GM,0,-9999,-9999,30,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117184,GHCND:GMM00010385,19921208,SCHONEFELD GM,0,-9999,-9999,33,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117185,GHCND:GMM00010385,19921209,SCHONEFELD GM,0,-9999,-9999,-9999,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117186,GHCND:GMM00010385,19921210,SCHONEFELD GM,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117187,GHCND:GMM00010385,19921211,SCHONEFELD GM,0,-9999,-9999,36,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117188,GHCND:GMM00010385,19921212,SCHONEFELD GM,117,-9999,-9999,53,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117189,GHCND:GMM00010385,19921213,SCHONEFELD GM,28,-9999,-9999,50,14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117190,GHCND:GMM00010385,19921214,SCHONEFELD GM,66,-9999,-9999,-9999,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117191,GHCND:GMM00010385,19921215,SCHONEFELD GM,23,-9999,-9999,83,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117192,GHCND:GMM00010385,19921216,SCHONEFELD GM,0,-9999,-9999,42,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117193,GHCND:GMM00010385,19921217,SCHONEFELD GM,0,-9999,-9999,34,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117194,GHCND:GMM00010385,19921218,SCHONEFELD GM,0,-9999,-9999,24,-30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117195,GHCND:GMM00010385,19921219,SCHONEFELD GM,0,-9999,-9999,40,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117196,GHCND:GMM00010385,19921220,SCHONEFELD GM,66,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117197,GHCND:GMM00010385,19921221,SCHONEFELD GM,142,10,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117198,GHCND:GMM00010385,19921222,SCHONEFELD GM,0,-9999,-9999,13,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117199,GHCND:GMM00010385,19921223,SCHONEFELD GM,0,-9999,-9999,-20,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117200,GHCND:GMM00010385,19921224,SCHONEFELD GM,0,-9999,-9999,-26,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117201,GHCND:GMM00010385,19921225,SCHONEFELD GM,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117202,GHCND:GMM00010385,19921226,SCHONEFELD GM,0,-9999,-9999,-36,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117203,GHCND:GMM00010385,19921227,SCHONEFELD GM,0,-9999,-9999,10,-95,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117204,GHCND:GMM00010385,19921228,SCHONEFELD GM,0,-9999,-9999,-16,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117205,GHCND:GMM00010385,19921229,SCHONEFELD GM,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117206,GHCND:GMM00010385,19921230,SCHONEFELD GM,0,-9999,-9999,-9999,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117207,GHCND:GMM00010385,19921231,SCHONEFELD GM,3,-9999,-9999,-7,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [27]:
#Get the Column array using a variable

nombre = "Year"
df[nombre].values

array([1990, 2000, 2012, ..., 2000, 2000, 2012], dtype=int64)

In [28]:
#Get the subset rows 11,24,37

df.loc[[11,24,37]]

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
37,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Cyprus,Female,26,26.0,NaN,NaN,NaN

In [29]:
#Get the subset rows excluding 5, 12, 23, 56

lista_indices = list(range(0,5)) + list(range(6,12)) + list(range(13,23)) + list(range(24,56)) + list(range(57, 4656))
df.loc[lista_indices]

,indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
30,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Switzerland,Both sexes,23,23.0,NaN,NaN,NaN
31,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Cook Islands,Both sexes,76,76.0,NaN,NaN,NaN
32,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Cook Islands,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [30]:
df_transaccion = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')
df_transaccion.head(2)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1

In [31]:
df_product = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
df_product.head(2)

   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04

In [32]:
df_session = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
df_session.head(2)

   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2

In [33]:
df_users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')
df_users.head(2)

   UserID     User Gender  Registered   Cancelled
0       1  Charles   male  2012-12-21         NaN
1       2    Pedro   male  2010-08-01  2010-08-08

In [34]:
from pandas import DataFrame, Series
import sqlite3 as db
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [35]:
pysqldf

In [36]:
pysqldf("SELECT * FROM df_transaccion;")

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [37]:
#join users to transactions, keeping all rows from transactions and only matching rows from users (left join)

pysqldf("SELECT * FROM df_transaccion LEFT JOIN df_users ON df_users.UserID = df_transaccion.UserID LIMIT 10;")

,TransactionID,TransactionDate,UserID,ProductID,Quantity,UserID,User,Gender,Registered,Cancelled
0,1,2010-08-21,7.0,2,1,NaN,None,None,None,None
1,2,2011-05-26,3.0,4,1,3.0,Caroline,female,2012-10-23,2016-06-07
2,3,2011-06-16,3.0,3,1,3.0,Caroline,female,2012-10-23,2016-06-07
3,4,2012-08-26,1.0,2,3,1.0,Charles,male,2012-12-21,None
4,5,2013-06-06,2.0,4,1,2.0,Pedro,male,2010-08-01,2010-08-08
5,6,2013-12-23,2.0,5,6,2.0,Pedro,male,2010-08-01,2010-08-08
6,7,2013-12-30,3.0,4,1,3.0,Caroline,female,2012-10-23,2016-06-07
7,8,2014-04-24,NaN,2,3,NaN,None,None,None,None
8,9,2015-04-24,7.0,4,3,NaN,None,None,None,None
9,10,2016-05-08,3.0,4,4,3.0,Caroline,female,2012-10-23,2016-06-07

In [38]:
#Which transactions have a UserID not in users?

pysqldf("SELECT df_transaccion.* FROM df_transaccion LEFT JOIN df_users ON df_users.UserID = df_transaccion.UserID WHERE df_users.UserID IS NULL;")

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              8      2014-04-24     NaN          2         3
2              9      2015-04-24     7.0          4         3

In [39]:
# 

pysqldf("SELECT * FROM df_transaccion INNER JOIN df_users ON df_users.UserID = df_transaccion.UserID GROUP BY df_users.User;")

,TransactionID,TransactionDate,UserID,ProductID,Quantity,UserID,User,Gender,Registered,Cancelled
0,10,2016-05-08,3.0,4,4,3,Caroline,female,2012-10-23,2016-06-07
1,4,2012-08-26,1.0,2,3,1,Charles,male,2012-12-21,None
2,6,2013-12-23,2.0,5,6,2,Pedro,male,2010-08-01,2010-08-08

In [40]:
pysqldf("SELECT * FROM df_transaccion INNER JOIN df_users ON df_users.UserID = df_transaccion.UserID ORDER BY df_users.User;")

,TransactionID,TransactionDate,UserID,ProductID,Quantity,UserID,User,Gender,Registered,Cancelled
0,2,2011-05-26,3.0,4,1,3,Caroline,female,2012-10-23,2016-06-07
1,3,2011-06-16,3.0,3,1,3,Caroline,female,2012-10-23,2016-06-07
2,7,2013-12-30,3.0,4,1,3,Caroline,female,2012-10-23,2016-06-07
3,10,2016-05-08,3.0,4,4,3,Caroline,female,2012-10-23,2016-06-07
4,4,2012-08-26,1.0,2,3,1,Charles,male,2012-12-21,None
5,5,2013-06-06,2.0,4,1,2,Pedro,male,2010-08-01,2010-08-08
6,6,2013-12-23,2.0,5,6,2,Pedro,male,2010-08-01,2010-08-08

In [41]:
pysqldf("""SELECT * FROM df_transaccion LEFT JOIN df_users ON df_users.UserID = df_transaccion.UserID
        UNION
        SELECT df_transaccion.* , df_users.* FROM df_users LEFT JOIN df_transaccion ON df_users.UserID = df_transaccion.UserID;""")

,TransactionID,TransactionDate,UserID,ProductID,Quantity,UserID,User,Gender,Registered,Cancelled
0,NaN,None,NaN,NaN,NaN,4.0,Brielle,female,2013-07-17,None
1,NaN,None,NaN,NaN,NaN,5.0,Benjamin,male,2010-11-25,None
2,1.0,2010-08-21,7.0,2.0,1.0,NaN,None,None,None,None
3,2.0,2011-05-26,3.0,4.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
4,3.0,2011-06-16,3.0,3.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
5,4.0,2012-08-26,1.0,2.0,3.0,1.0,Charles,male,2012-12-21,None
6,5.0,2013-06-06,2.0,4.0,1.0,2.0,Pedro,male,2010-08-01,2010-08-08
7,6.0,2013-12-23,2.0,5.0,6.0,2.0,Pedro,male,2010-08-01,2010-08-08
8,7.0,2013-12-30,3.0,4.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
9,8.0,2014-04-24,NaN,2.0,3.0,NaN,None,None,None,None
10,9.0,2015-04-24,7.0,4.0,3.0,NaN,None,None,None,None
11,10.0,2016-05-08,3.0,4.0,4.0,3.0,Caroline,female,2012-10-23,2016-06-07

In [42]:
#Join users to transactions, displaying all matching rows AND all non-matching rows(full outer join)

pysqldf("""SELECT * FROM df_transaccion LEFT JOIN df_users ON df_users.UserID = df_transaccion.UserID
        UNION
        SELECT df_transaccion.* , df_users.* FROM df_users LEFT JOIN df_transaccion ON df_users.UserID = df_transaccion.UserID
        ORDER BY df_users.User;""")

,TransactionID,TransactionDate,UserID,ProductID,Quantity,UserID,User,Gender,Registered,Cancelled
0,1.0,2010-08-21,7.0,2.0,1.0,NaN,None,None,None,None
1,8.0,2014-04-24,NaN,2.0,3.0,NaN,None,None,None,None
2,9.0,2015-04-24,7.0,4.0,3.0,NaN,None,None,None,None
3,NaN,None,NaN,NaN,NaN,5.0,Benjamin,male,2010-11-25,None
4,NaN,None,NaN,NaN,NaN,4.0,Brielle,female,2013-07-17,None
5,2.0,2011-05-26,3.0,4.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
6,3.0,2011-06-16,3.0,3.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
7,7.0,2013-12-30,3.0,4.0,1.0,3.0,Caroline,female,2012-10-23,2016-06-07
8,10.0,2016-05-08,3.0,4.0,4.0,3.0,Caroline,female,2012-10-23,2016-06-07
9,4.0,2012-08-26,1.0,2.0,3.0,1.0,Charles,male,2012-12-21,None
10,5.0,2013-06-06,2.0,4.0,1.0,2.0,Pedro,male,2010-08-01,2010-08-08
11,6.0,2013-12-23,2.0,5.0,6.0,2.0,Pedro,male,2010-08-01,2010-08-08

In [43]:
#Determine which sessions occurred on the same day each user registered

pysqldf("SELECT * FROM df_users INNER JOIN df_session ON df_users.Registered = df_session.SessionDate WHERE df_users.UserID = df_session.UserID;")

,UserID,User,Gender,Registered,Cancelled,SessionID,SessionDate,UserID
0,2,Pedro,male,2010-08-01,2010-08-08,2,2010-08-01,2
1,4,Brielle,female,2013-07-17,None,9,2013-07-17,4

In [44]:
#build a database with every possible (userID, productID) pair (cross join)

pysqldf("SELECT df_users.UserID, df_product.ProductID FROM df_users CROSS JOIN df_product LIMIT 13;" )

    UserID  ProductID
0        1          1
1        1          2
2        1          3
3        1          4
4        1          5
5        2          1
6        2          2
7        2          3
8        2          4
9        2          5
10       3          1
11       3          2
12       3          3

In [45]:
# Determine how much quantity of each product was purchased by each user


pysqldf("""SELECT df_users.UserID, df_product.ProductID, SUM(case when typeof(df_transaccion.Quantity) = "integer" then df_transaccion.Quantity else 0 end) AS Quantity
        FROM df_users CROSS JOIN df_product 
        LEFT JOIN df_transaccion ON df_users.UserID = df_transaccion.UserID AND df_product.ProductID = df_transaccion.ProductID
        GROUP BY df_users.UserID, df_product.ProductID;""")

    UserID  ProductID  Quantity
0        1          1         0
1        1          2         3
2        1          3         0
3        1          4         0
4        1          5         0
5        2          1         0
6        2          2         0
7        2          3         0
8        2          4         1
9        2          5         6
10       3          1         0
11       3          2         0
12       3          3         1
13       3          4         6
14       3          5         0
15       4          1         0
16       4          2         0
17       4          3         0
18       4          4         0
19       4          5         0
20       5          1         0
21       5          2         0
22       5          3         0
23       5          4         0
24       5          5         0

In [46]:
#For each user, get each possible pair of pair transactions (transactionID1, TransacationID2)


# cambiar nombres de cabecera, usar aliasing

pysqldf("""SELECT df_transaccion_x.TransactionID as TransactionID_x ,
                df_transaccion_x.TransactionDate as TransactionDate_x , *
            FROM df_transaccion as df_transaccion_x  
            CROSS JOIN df_transaccion ON df_transaccion_x.UserID = df_transaccion.UserID;""")

,TransactionID_x,TransactionDate_x,TransactionID,TransactionDate,UserID,ProductID,Quantity,TransactionID,TransactionDate,UserID,ProductID,Quantity
0,1,2010-08-21,1,2010-08-21,7.0,2,1,1,2010-08-21,7.0,2,1
1,1,2010-08-21,1,2010-08-21,7.0,2,1,9,2015-04-24,7.0,4,3
2,2,2011-05-26,2,2011-05-26,3.0,4,1,2,2011-05-26,3.0,4,1
3,2,2011-05-26,2,2011-05-26,3.0,4,1,3,2011-06-16,3.0,3,1
4,2,2011-05-26,2,2011-05-26,3.0,4,1,7,2013-12-30,3.0,4,1
5,2,2011-05-26,2,2011-05-26,3.0,4,1,10,2016-05-08,3.0,4,4
6,3,2011-06-16,3,2011-06-16,3.0,3,1,2,2011-05-26,3.0,4,1
7,3,2011-06-16,3,2011-06-16,3.0,3,1,3,2011-06-16,3.0,3,1
8,3,2011-06-16,3,2011-06-16,3.0,3,1,7,2013-12-30,3.0,4,1
9,3,2011-06-16,3,2011-06-16,3.0,3,1,10,2016-05-08,3.0,4,4
10,4,2012-08-26,4,2012-08-26,1.0,2,3,4,2012-08-26,1.0,2,3
11,5,2013-06-06,5,2013-06-06,2.0,4,1,5,2013-06-06,2.0,4,1
12,5,2013-06-06,5,2013-06-06,2.0,4,1,6,2013-12-23,2.0,5,6
13,6,2013-12-23,6,2013-12-23,2.0,5,6,5,2013-06-06,2.0,4,1
14,6,2013-12-23,6,2013-12-23,2.0,5,6,6,2013-12-23,2.0,5,6
15,7,2013-12-30,7,2013-12-30,3.0,4,1,2,2011-05-26,3.0,4,1
16,7,2013-12-30,7,2013-12-30,3.0,4,1,3,2011-06-16,3.0,3,1
17,7,2013-12-30,7,2013-12-30,3.0,4,1,7,2013-12-30,3.0,4,1
18,7,2013-12-30,7,2013-12-30,3.0,4,1,10,2016-05-08,3.0,4,4
19,9,2015-04-24,9,2015-04-24,7.0,4,3,1,2010-08-21,7.0,2,1
20,9,2015-04-24,9,2015-04-24,7.0,4,3,9,2015-04-24,7.0,4,3
21,10,2016-05-08,10,2016-05-08,3.0,4,4,2,2011-05-26,3.0,4,1
22,10,2016-05-08,10,2016-05-08,3.0,4,4,3,2011-06-16,3.0,3,1
23,10,2016-05-08,10,2016-05-08,3.0,4,4,7,2013-12-30,3.0,4,1
24,10,2016-05-08,10,2016-05-08,3.0,4,4,10,2016-05-08,3.0,4,4

In [47]:
# Join each user to his/her firt ocurring transaction in the transactions table.

pysqldf("""SELECT df_users.UserID, User, Gender, Registered, Cancelled, TransactionID, MIN(TransactionDate) AS TransactionDate, ProductID, Quantity
            FROM df_users 
            LEFT JOIN df_transaccion ON df_users.UserID = df_transaccion.UserID
            GROUP BY df_users.UserID;""")

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,None,4.0,2012-08-26,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,4.0,1.0
2,3,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,4.0,1.0
3,4,Brielle,female,2013-07-17,None,NaN,None,NaN,NaN
4,5,Benjamin,male,2010-11-25,None,NaN,None,NaN,NaN

In [48]:
#Test to see if we can drop columns


data = pysqldf("""SELECT df_users.UserID, User, Gender, Registered, Cancelled, TransactionID, MIN(TransactionDate) AS TransactionDate, ProductID, Quantity
            FROM df_users 
            LEFT JOIN df_transaccion ON df_users.UserID = df_transaccion.UserID
            GROUP BY df_users.UserID;""")

my_columns = list(data.columns)
my_columns

list(data.dropna(thresh=int(data.shape[0]*.9),axis=1).columns)

missing_info = list(data.columns[data.isnull().any()])
missing_info

for col in missing_info:
    num_missing = data[data[col].isnull() == True].shape[0]
    print('number missing for column{}:{}'.format(col, num_missing))
    
print('-------------------------------------------')
    
for col in missing_info:
    percent_missing = data[data[col].isnull() == True].shape[0] / data.shape[0]
    print('percent missing for column{}:{}'.format(col, percent_missing))

number missing for columnCancelled:3
number missing for columnTransactionID:2
number missing for columnTransactionDate:2
number missing for columnProductID:2
number missing for columnQuantity:2
-------------------------------------------
percent missing for columnCancelled:0.6
percent missing for columnTransactionID:0.4
percent missing for columnTransactionDate:0.4
percent missing for columnProductID:0.4
percent missing for columnQuantity:0.4